<h1>List of all quizzes</h1>

<hr>

<h2>Add a new quiz</h2>

<form action="/insert_quiz" method="post">

  <label for="a">Topic</label>
  <input id="a" name="query_topic" type="text">
  <button>Create quiz</button>

</form>

<hr>

<table border="1">
  <tr>
    <th>ID</th>
    <th>Topic</th>
    <th>Created at</th>
    <th></th>
  </tr>

  <% @list_of_quizzes.each do |quiz| %>
  </tr>
    <td><%= quiz.id %></td>
    <td><%= quiz.topic %></td>
    <td><%= time_ago_in_words(quiz.created_at) %></td>
    <td><a href="/quizzes/<%= quiz.id %>">Show details</a></td>
  </tr>
  <% end %>
</table>
